<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <style>
    body{
    background-image: url("{% static 'core/img/bg.jpg' %}");
    }
    </style>
    <title>❤Love❤ Calculator</title>
     <link rel="shortcut icon" type="image/jpg" href="{% static 'core/img/navicon.png' %}"/>
  </head>
  <body>

    <div class="container">
    <h1 class="text-center mx-auto mt-2">Love Calculator</h1>
    <div class="card text-center mx-auto mt-2" style="width: 18rem;">
  <img src="{% static 'core/img/love.jpg' %}" class="card-img-top" alt="Love Calculator">
  <div class="card-body">
    <form action="" method="POST">
    {% csrf_token %}
    
   <input class="form-control me-2 m-2" type="search" placeholder="Your Name" aria-label="fname" name='fname' required>
   <input class="form-control me-2 m-2" type="search" placeholder="Your Partner's Name" aria-label="sname" name='sname' required>

    <input type="submit" value="Calculate" class="btn btn-rounded btn-funky-moon m-2 fs-5">
    </form>
  </div>
</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    
  </body>
</html>